@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

header .logo {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
nav a {
    color: #fff;
    text-decoration: none;
}

/* MAIN */
main {
    flex-grow: 1;
    padding: 20px;
}

/* SECTION */
.section {
    padding: 40px 0;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.actors {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.actors h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.actors p {
    color: #666;
    font-size: 1em;
}

/* BUTTON */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* SELECT */
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Style pour les options dans la liste déroulante au survol */
select option:hover {
    background-color: #f2f2f2; /* Changement de couleur au survol */
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
